body {
  font-family: 'Arial', sans-serif;
  background-color: #2b2b2b;
  color: #2e2a2a;
  text-align: center;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #7da9d8;
  --secondary-color: #f2f2f2;
  --highlight-color: #007bff;
  --background-color: #ffffff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 20px;
  font-size: 2.5em;
  color: #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.container > *{
  margin: 1rem;
}

.input-section {
  width: 22%;
  max-width: 600px;
  background-color: #3e3e3e;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-section input,
.input-section select,
.input-section button,
.input-income input,
.input-income select,
.input-income button {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  color: #333;
}

.input-section button {
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-section button:hover {
  background-color: #5548c8;
}

/* Select Styling with Hover Effects */
.input-section select {
  transition: background-color 0.3s, color 0.3s;
}

.input-section select:hover {
  background-color: #6c63ff;
  color: #ffffff;
}

.input-section select option[value="House"] {
  background-color: #ff9999;
  color: #fff;
}

.input-section select option[value="Grocery"] {
  background-color: #99ccff;
  color: #fff;
}

.input-section select option[value="Subscription"] {
  background-color: #ffcc99;
  color: #fff;
}

.input-section select option[value="Going Out"] {
  background-color: #66cccc;
  color: #fff;
}

.input-section select option[value="Car"] {
  background-color: #cc99ff;
  color: #fff;
}

.input-section select option[value="Other"] {
  background-color: #9966ff;
  color: #fff;
}

/* Total Expense Styling */
.total {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-section {
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

/* graphics and colors */

thead,
tfoot,
tr {
  background: white;
  color: darkslategray;
  text-shadow: 1px 1px 1px #ccc;
}

thead th,
tfoot th,
thead tr,
tfoot td {
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 50%));
}

/* table row color coordination based upon the type of input */
tr[data-category="House"] {
  background-color: #ff9999;
}

tr[data-category="Grocery"] {
  background-color: #99ccff;
}

tr[data-category="Subscription"] {
  background-color: #ffcc99;
}

tr[data-category="Going Out"] {
  background-color: #66cccc;
}

tr[data-category="Car"] {
  background-color: #cc99ff;
}

tr[data-category="Other"] {
  background-color: #9966ff;
}

/* expense styling */
.total {
  width: 20%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  margin-bottom: 20px;
  font-size: 1.2em;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

/*chart selection styling */
#expenseChart {
  max-width: 400px;
  margin: 0 50px;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}
.split {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
  
}

#expenseInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#expenseTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#expenseTable th, #expenseTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#expenseTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#expenseTable tr.header, #expenseTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

/* Hover Effects and Responsive Design */
input:hover,
select:hover,
button:hover {
  border-color: var(--highlight-color);
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .input-section,
  /* .input-income, */
  .total,
  .table-section {
    width: 30%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8em;
  }

  .input-section,
  .total {
    width: 90%;
  }
}

/* Bootstrap Framework */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.input-section {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.table-section {
  overflow-x: auto;
}

table {
  width: 100%;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
